/*blog*/

.h1_blog {
    text-align: center;
    font-size: 10vh;
    font-family: none;
}

.section-blog {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 450px;
}

.container .card .imgContainer {
    position: relative;
    @include hw(250px, 250px);
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
        display: flex;
        flex-wrap: nowrap;
    }
    .section-blog {
        min-height: 150vh;
    }
    .footer {
        margin-top: -4rem;
    }
    h1 {
        font-size: 35px;
    }
    .container_div {
        margin-top: 4rem;
        display: flex;
        height: auto;
        align-items: center;
        color: #BF307F;
        animation: expand .8s ease forwards;
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: all .8s ease;
        flex-direction: column-reverse;
    }
    .container_content_inner {
        width: auto;
        margin-left: auto;
    }
}