* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*inicio*/

body {
    background-image: url(../imagenes/fondo\ 1.webp);
    background-color: dimgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    /* background-color:aquamarine; */
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.header:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.header__marca {
    width: 50px;
    height: 50px;
}

.header__menu {
    display: none;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 60%;
    border: solid 1px black;
}

.nav {
    /*background-color: greenyellow;*/
    padding: 1rem;

}

.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav__item {
    margin-left: 26px;
}

.nav__enlace {
    color: #5893D4;
    text-decoration: none;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    text-decoration: none;
}

.nav__enlace:hover {
    color: rgb(247, 243, 39);
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imagen320 {
    display: none;
}


.imagen {
    border-radius: 60%;
    border: solid 2px rgb(243, 228, 144);
}

.scale-in-center {
    -webkit-animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.parrafo {
    font-size: small;
    height: 1rem;
    margin: 2rem;
}

.botton {
    height: 35px;
    width: 85px;
    background-color: rgba(201, 123, 5, 0.938);
    color: black;
    border-radius: 50%;
}

.promociones {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: xx-large;
    margin-top: 4rem;
}

.form__hijo1 {
    margin-bottom: 1rem;
    font-size: xx-large;
}

.form__hijo2 {
    margin-bottom: 1rem;
    font-size: xx-large;
}

.footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;

}

.footer_hijo1 img {
    border-radius: 50%;
    border: 1px solid black;
}

.footer_hijo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__hijo5 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .promociones {
        font-size: x-large;
    }
    .form__hijo1 {
        font-size: x-large;
    }
    .form__hijo2 {
        font-size: x-large;
    }
    .footer__hijo5 {
        font-size: smaller;
    }

}

@media screen and (max-width: 425px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen {
        display: none;
    }
    .imagen320 {
        display: block;
        border: 1px solid black;
        border-radius: 60%;
    }
    .promociones {
        font-size: unset;
    }
    .form__hijo1 {
        font-size: large;
    }
    .form__hijo2 {
        font-size: large;
    }
    .footer__hijo5 {
        font-size: small;
    }
}

@media screen and (max-width: 320px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
    }
    .nav {
        display: none;

    }
    .header__marca {
        display: flex;
    }
    .header__menu {
        display: flex;

    }
    .botton {
        margin: 2rem;
    }
    .imagen {
        display: none;
    }
    .imagen320 {
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
    }
    .scale-in-center {
        -webkit-animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }


    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    .promociones {
        font-size: small;
    }
    .form__hijo1 {
        font-size: larger;
    }
    .form__hijo2 {
        font-size: larger;
    }
    .footer__hijo5 {
        font-size: xx-small;
    }


}