/*tienda*/

.section-tienda {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
}

.botones {
    display: flex;
    justify-content: space-around;
}